
<% if (allCards && allCards.length > 0) { %>
  <div class="card-container">
  <% allCards.forEach(function(card) { %>
    <% if (card.preview === false) { %>
      <div class="card">
      <%=card.cardName%>
        <div class="cardFrontFrame">
          <%if(card.vertical=="false"){%>
            <div class="cardImg">
              <%}else{%>
                <div class="cardImg_vertical">
              <%}%>  
              <%if(card.nameStack=="false"){%>
              <%if(typeof user =='object'&& user.firstName){%>
                <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                  <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName+ " "+ user.lastName%></div>
                </div>
                <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                  <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> <%=user.title%></div>
                   </div>
                <%}else{%>
                  <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                    <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname lastname</div>
                  </div>
                  <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                    <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>">Royal Title Here</div>
                     </div>
                  <%}%>
                  <%}%>
                  
                  <%if(card.nameStack=="true"){%>
                    <%if(typeof user =='object'&& user.firstName){%>
                      <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                        <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName%><br><%=user.lastName%></div>
                      </div>
                      <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                        <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> <%=user.title%></div>
                         </div>
                      <%}else{%>
                        <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                          <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname <br>lastname</div>
                        </div>
                        <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                          <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> Royal Title Here</div>
                           </div>
                        <%}%>
                        
                        <%}%>
              <!------------------------------>
               
                        
          
              <img class="" src="<%= card.cardFront %>" alt="Card Front">              
              <%if(typeof user =="object" && user.userImg){%>                
                <div id="headshot_<%= card._id %>" class="headshot">            
                 <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="<%=user.userImg%>" alt="Headshot">
               </div>
          <%}else{%>
            <div id="headshot_<%= card._id %>" class="headshot">              
                   <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="/images/sampleFace.jpg" alt="Headshot">
                 </div>
         <%}%>
          </div>
        </div>
        <div class="cardBackFrame">

        
          <%if(card.vertical=="false"){%>
            <div class="cardImg">
              <%}else{%>
                <div class="cardImg_vertical">
              <%}%>

            <img class="" src="<%= card.cardBack %>" alt="Card Back">
            <div style="position:absolute; transform: translateY(<%= card.text0PositionY %>px) translateX(<%= card.text0PositionX %>px)rotate(<%=card.text0Rotation+"deg"%>);" class="textBox" id="textBox_<%= card._id %>">
              <% if (typeof user && user) { %>
                <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
                 
                    <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.chapter%></div>
                    <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.address%></div> 
                    <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.email%></div> 
                    <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.phone%></div> 
                    <div class="font_<%=card.fontName1%>">Birth</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.birthday%></div> 
                    
                  </div>
                </div>
                <% } else { %>
                  <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
              
                  <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>">Greeley RHS</div>
                  <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>">Colorado USA</div> 
                  <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>">scott@w2marketing.biz</div> 
                  <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>">333-456-7890</div> 
                  <div class="font_<%=card.fontName1%>">Birth</div><div>:</div><div class="font_<%=card.fontName2%>">Januaray 1, 2001</div> 
                
                </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
   
        <div><form action="/viewBuy" method="get"><input type="hidden" name="_id" value="<%=card._id%>"><button custom-type="approve"  type="submit">View and Buy</button></form></div>
 
  
      
  </div>
    <% } %>
  <% }); %>
  </div>
<% } %>
