
<% if (allCards && allCards.length > 0) { %>
  <div class="card-container">
  <% allCards.forEach(function(card) { %>     
        <div class="card">         
          <%=card.cardName%>

          <%- include('controls_img.ejs', { cardId: card._id }) %>    
          
          <div id="frontFrame_<%=card._id%>" class="cardFrontFrame">
            <%if(card.vertical=="false"){%>
            <div class="cardImg">
              <%}else{%>
                <div class="cardImg_vertical">
              <%}%>  
              <%if(card.nameStack=="false"){%>
              <%if(typeof user =='object'&& user.firstName){%>
                <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                  <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName+ " "+ user.lastName%></div>
                </div>
                <%}else{%>
                  <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                    <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname lastname</div>
                  </div>
                
                  <%}%>
                  <%}%>
                  
                  <%if(card.nameStack=="true"){%>
                    <%if(typeof user =='object'&& user.firstName){%>
                      <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                        <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName%><br><%=user.lastName%></div>
                      </div>
                    
                      <%}else{%>
                        <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                          <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname <br>lastname</div>
                        </div>
                     
                        <%}%>
                        
                        <%}%>
                        
                        
                        
                        
                        
                        
                        <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                          <div id="royalTitleText_<%= card._id %>" style="word-wrap: normal; max-width: 125px; font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> <%=user.title%></div>
                         
                          </div>
                        
                        
                        <img class="" src="<%= card.cardFront %>" alt="Card Front">
                        <div id="headshot_<%= card._id %>" class="headshot">
                          <img id="headshotImg" style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale%>);" class="headshot" src="/images/sampleFace.png" alt="Headshot">
                        </div>
                      </div>
                    </div>      
                    <%- include('controls_text2.ejs', { cardId: card._id }) %> 
                    <%- include('controls_text3.ejs', { cardId: card._id }) %> 
                    <input type="file" name="cardFrontFile"><br>        
                    <%- include('controls_text.ejs', { cardId: card._id }) %>
                    <div class="cardBackFrame">
                      
                      <%if(card.vertical=="false"){%>
                        <div class="cardImg">
                          <%}else{%>
                            <div class="cardImg_vertical">
                              <%}%>
                     
                              <img class="" src="<%= card.cardBack %>" alt="Card Back">
                              <div  class="textBox" id="textBox_<%=card._id%>" style="position:absolute;top:<%= card.text0PositionY %>px;left:<%= card.text0PositionX %>px; transform:rotate(<%= card.text0Rotation+"deg"%>);">
                <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
                  
                  <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>">Testchapter RHS</div>
                  <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>">anywhere, USA</div> 
                  <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>">youremail@email.com</div> 
                  <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>">333-456-7890</div> 
                  <div class="font_<%=card.fontName1%>">Birthday</div><div>:</div><div class="font_<%=card.fontName2%>">Januaray 1st</div> 
                  
                </div>                
              </div>              
              
            </div>
          </div>
          
          <form action="/admin/updateCard" method="post" enctype="multipart/form-data">
          <input type="file" name="cardBack"><br>
          <input type="submit" value="Update Back Image">
          </form>
          <form action="/admin/updateCard" method="post" enctype="multipart/form-data">
          <input type="hidden" name="cardId" value="<%= card._id %>">
          <input type="text" id="cardName_<%=card._id%>" name="cardName" value="<%=card.cardName%>">
          <label for="vertical">is vertical</label>
          <select type="text" id="vertical_<%=card._id%>" name="vertical">
          <option value="<%=card.vertical%>"><%=card.vertical%></option>
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
        <label for="nameStack">is nameStack</label>
        <select type="text" id="nameStack_<%=card._id%>" name="nameStack">
          <option value="<%=card.nameStack%>"><%=card.nameStack%></option>
          <option value="true">true</option>
          <option value="false">false</option>
        </select>
        <label for="text0Rotation">text0Rotation</label>
          <input type="text" id="text0Rotation_<%= card._id %>" name="text0Rotation" value="<%= card.text0Rotation %>">
        <label for="text1Rotation">text1Rotation</label>
        <input type="text" id="text1Rotation_<%= card._id %>" name="text1Rotation" value="<%= card.text1Rotation %>">
        <input type="hidden" id="imgScale_<%= card._id %>" name="imgScale" value="<%= card.imgScale %>">
        <input type="hidden" id="imgPositionX_<%= card._id %>" name="imgPositionX" value="<%= card.imgPositionX %>">
        <input type="hidden" id="imgPositionY_<%= card._id %>" name="imgPositionY" value="<%= card.imgPositionY %>">
        <input type="hidden" id="imgPositionY_<%= card._id %>" name="imgRotation" value="<%= card.imgRotation %>">
        <input type="hidden" id="font0Size_<%= card._id %>" name="font0Size" value="<%=card.font0Size%>">
        <input type="hidden" id="text0PositionX_<%= card._id %>" name="text0PositionX" value="<%= card.text0PositionX %>">
        <input type="hidden" id="text0PositionY_<%= card._id %>" name="text0PositionY" value="<%= card.text0PositionY %>">
        
        <label for="textColor">Text Color Info</label>
        <input type="color" id="textColor<%= card._id %>" name="textColor" value="<%= card.textColor %>">
        
        <input type="hidden" id="font1Size_<%= card._id %>" name="font1Size" value="<%=card.font1Size%>">
        <input type="hidden" id="text1PositionX_<%= card._id %>" name="text1PositionX" value="<%= card.text1PositionX %>">
        <input type="hidden" id="text1PositionY_<%= card._id %>" name="text1PositionY" value="<%= card.text1PositionY %>">
        <input type="hidden" id="text2PositionX_<%= card._id %>" name="text2PositionX" value="<%= card.text2PositionX %>">
        <input type="hidden" id="text2PositionY_<%= card._id %>" name="text2PositionY" value="<%= card.text2PositionY %>">
        <input type="hidden" id="font2Size_<%= card._id %>" name="font2Size" value="<%=card.font2Size%>">
          
          <br>
          <label for="text1Color">Text Color Name</label>
          <input type="color" id="text1Color<%= card._id %>" name="text1Color" value="<%= card.text1Color %>">
          
          <br>
          

          <label for="fontName1">Main Font:<%=card.fontName1%></label>
          <!-- Primary Font Select -->
          <label for="fontName1">Primary Font: <%= card.fontName1 %></label>
          <select name="fontName1" id="fontName1">
  <% fonts.forEach(function(font) { %>
    <option value="<%= font %>" <%= font === card.fontName1 ? 'selected' : '' %>><%= font %></option>
    <% }); %>
  </select>
  
  <!-- Secondary Font Select -->
  <label for="fontName2">Secondary Font: <%= card.fontName2 %></label>
  <select name="fontName2" id="fontName2">
    <% fonts.forEach(function(font) { %>
      <option value="<%= font %>" <%= font === card.fontName2 ? 'selected' : '' %>><%= font %></option>
      <% }); %>
    </select>
    
    
    
    <input hidden type="text" id="uploadedBy" name="uploadedBy" value="<%= card.uploadedBy %>"><br>
    
    <p>Original Upload By:<%= card.uploadedBy %></p>
    <input type="submit" value="Update Card">
  </form>
  <%if(card.preview=="true"){%>
    <h3>card is not published</h3>
    <form action="/admin/publishCard" method="post">
      <input type="hidden" name="_id" value="<%= card._id %>">
      <input type="submit" value="Publish Card">
    </form>
    <%}%>
    <%if(card.preview=="false"){%>
      <h3>card is actively published</h3>
      <form action="/admin/publishCard" method="post">
        <input type="hidden" name="_id" value="<%= card._id %>">
        <input type="submit" value="Un-Publish Card">
      </form>
      <%}%>

        <input type="submit" class="deleteCardButton" value="delete card">
        <div  class="deleteCardWarning" style="display: none;">
          are you SURE? this cannot be undone.
          <form action="/admin/deleteCard" method="post">
            <input type="hidden" name="_id" value="<%= card._id %>">
            <input type="submit" value="delete">
            <input type="button" class="cancelDelete" value="cancel">
          </div>
          </form>
        </div>
     
    
      <% }) %>
    </div>
    <% } else { %>
      <p>No cards available.</p>
      <% } %>

   
      