<div class="cartDiv">
    <h1>Purchase your Cards here!</h1>
<!-- cart-partial.ejs -->

<div class="card-details">
    <h2>Order Details</h2>
    <ul>
        <li>Size: 2” x 3.5” Rectangle</li>
        <li>Stock thickness: 16PT</li>
        <li>Full-color back and front</li>
        <li>UV Coating</li>
    </ul>
</div>


<div class="shipping">
    <p>Flat Rate Shipping within the USA: $9.00</p>
<!-- <p>No international shipping: $25.00 per box</p>-->
</div>

<div class="discount">
    <!--NEED TO CREATE EP!!!!!!-->
    <p>10% off all orders for Supporting Members</p>
    <input id="promoInput" type="text" value="enter code here">
   <!-- <p>Use Code: 10RedHats</p>-->
   <p id="promoMessage" style="display: none;"><span class="span_branded">Congrats!!</span> you've earned 10% when you checkout</p>
   
</div>

<!--INSIDE YOUR CART-->
<%if(typeof user =='object'&& user){%>
<% if ( user.cart.length > 0) { %>
    <div class="cartTableDiv">
    <table id="cartTable" class="cartTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Count</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through each item in the cart -->
            <% user.cart.forEach((item) => { %>
                <tr>
                    <td><%= item.productName %></td>
                    <td><%= item.count %></td>
                    <td><%= item.unitPrice %></td>
                    <td><%= item.quantity || 1 %></td>
                    <td id="itemTotal_<%=item.cardId%>">$<%= item.itemTotal%></td>
                </tr>
            <% }); %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>total:</td>
                <td id="cartTotaled">$</td>
            </tr>
        </tbody>
    </table>
</div>
<% } else { %>
    <p>you have no items in your cart</p>
    <% } %>
 
    <%}else{%>
   <p> sign in to add to cart</p>
    <%}%>

<!-- Add a button to proceed to checkout or continue shopping -->
<a href="/checkout">Proceed to Checkout</a>
<a href="/shop">Continue Shopping</a>
    <div id="cartClose"><h1> CLOSE CART</h1></div>
</div>










