<%if(typeof user =='object'&& user){%>
<div class="cartDiv">
    <div class="cartScroll">
    <h1><%=user.firstName%>'s cart</h1>
    <!-- cart-partial.ejs -->
    
    
    <!--INSIDE YOUR CART-->
        <% if (user && user.cart.length > 0) { %>
            <div class="cartTableDiv">
                <form action="/viewBuy/createOrder" method="post">
                <table id="cartTable" class="cartTable">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Box Size</th>               
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let total = 0; %>
                        <% user.cart.forEach((item, index) => { %>
                            <tr>
                                <td><br><%= item.cardName %><br><img style="width:85px" src="<%= item.cardFront %>"></td>
                                <td><%= item.count %> ct</td>
                                <td id="itemTotal_<%=item.cardId%>">$<%= item.price %></td>
                                <td class="garbageCan" onclick="deleteFromCart('<%=item.cartItemId%>'),cartTotaller()"></td>
                                <!-- Hidden inputs for each item -->
                            </tr>
                            <input type="hidden" name="cart[<%= index %>][cardName]" value="<%= item.cardName %>">
                            <input type="hidden" name="cart[<%= index %>][count]" value="<%= item.count %>">
                            <input type="hidden" name="cart[<%= index %>][price]" value="<%= item.price %>">
                            <input type="hidden" name="cart[<%= index %>][cartItemId]" value="<%= item.cartItemId %>">
                            <% total += parseFloat(item.price) ; %>
                            <% }); %>
                        </tbody>
                    </table>
                    <p id="cartTotal">Total: $<%= total.toFixed(2) %></p>
                    <input type="hidden" name="total" value="<%= total.toFixed(2) %>">
                            
                            
                <h4 style="margin-bottom: 1px;">Checkout with your paypal or credit card!</h4>
                <button type="submit">Checkout</button>
            </form>
            
            <form action="/"><button type="submit">shop more</button></form>
            
            <button id="cartClose">Close Cart</button>
        </div>
        <% } else { %>
            <p>You have no items in your cart</p>
            <form action="/"><button type="submit">Shop more</button></form>
            <button id="cartClose">Close Cart</button>
        </div>
           
           
           <% } %>
           <% } %>
           <div class="discount">
               <p id="promoMessage" style="display: none;"><span class="span_branded">Congrats!</span> you've earned an additional 10% off when you checkout</p>
               <!--NEED TO CREATE EP!!!!!!-->
                <p>10% off all orders for Supporting Members</p>
                <h4 style="margin-bottom: 1px;">Get your code at <a href="https://royalsplendor.com">royalsplendor.com</a></h4>
                <input id="promoInput" type="text" placeholder="enter code here">
                <!-- <p>Use Code: 10RedHats</p>-->
                
            </div>
            <div class="card-details">
                <h2>Order Details</h2>
                <ul>
                    <li>Size: 2” x 3.5” Rectangle</li>
                    <li>Stock thickness: 16PT</li>
                    <li>Full-color back and front</li>
                    <li>UV Coating</li>
                </ul>
            </div>
            
            
            <div class="shipping">
                <p>Flat Rate Shipping within the USA: $9.00</p>
            <!-- <p>No international shipping: $25.00 per box</p>-->
            </div>
            </div>
            </div>
            
            <script>window.onload(cartTotaller())</script>
            