
<h2>Review To Print Orders</h2>

<%if(typeof ordersPaypal=='object'&& ordersPaypal ){%>
    <%let toPrintOrdersCount = ordersPaypal.filter(order => order.sentToPrint === 'true').length;%>
  <h4> You have <%=toPrintOrdersCount%>  orders sent To Print!! 🥳</h4>
  
  
  <%for(let i =0;i<ordersPaypal.length;i++){%>

      <%if(ordersPaypal[i].paypalCompleted=="true"&& ordersPaypal[i].sentToPrint=="true"){%>
        
        <div class="orderReview">
        <h3>Order Details for : <%=ordersPaypal[i].userEmail%></h3>
   
        <div>Ordered On: <%=ordersPaypal[i].orderDate.toDateString()%></div>
        <div>total paid: <%=ordersPaypal[i].amount%></div>
        <div>quantity: <%=ordersPaypal[i].description%></div>
        <div>tracking id: <%=ordersPaypal[i].trackingId%></div>
        <div> sent to print: <%=ordersPaypal[i].sentToPrint%></div>
        <div>paypal completed: <%=ordersPaypal[i].paypalCompleted%></div>
        <div>paypal canceled: <%=ordersPaypal[i].paypalCanceled%></div>
        <div>paypal canceled: <%=ordersPaypal[i].paypalCanceled%></div>

      <!--------I need to load these card fronts and back, but i need to reference---------->
      
      

      <!------------------>
    <form action="/orderEditor" method="get">
      <input type="hidden" name="cardId" value="<%=ordersPaypal[i].cardId%>">
      <input type="hidden" name="userId" value="<%=ordersPaypal[i].userId%>">
      <input type="hidden" name="orderId" value="<%=ordersPaypal[i]._id%>">
  <button type="submit">Download Assets</button>
    </form>
   
    </div>
      <%}%>

    <%}%>
    <%}else{%>
      no active orders        
      <%}%>
  

  