
<h2>Review To Print Orders</h2>

<%if(typeof ordersPaypal=='object'&& ordersPaypal ){%>
    <%let toPrintOrdersCount = ordersPaypal.filter(order => order.sentToPrint === 'true').length;%>
  <h4> You have <%=toPrintOrdersCount%>  orders sent To Print!! 🥳</h4>
  
  
  <%for(let i =0;i<ordersPaypal.length;i++){%>

      <%if(ordersPaypal[i].paypalCompleted=="true"&& ordersPaypal[i].sentToPrint=="true"){%>
        
        <div class="orderReview">
          <h3 style="margin-bottom: 10px;">Order Details for: <%= ordersPaypal[i].userEmail %></h3>
   
          <div style="margin-bottom: 5px;">Ordered On: <%= new Date(ordersPaypal[i].orderDate).toDateString() %></div>
          <div style="margin-bottom: 5px;">Total Paid: <%= ordersPaypal[i].amount %></div>
          <div style="margin-bottom: 5px;">Quantity: <%= ordersPaypal[i].description %></div>
          <div style="margin-bottom: 5px;">Tracking ID: <%= ordersPaypal[i].trackingId %></div>
          <div style="margin-bottom: 5px;">Sent to Print: <%= ordersPaypal[i].sentToPrint ? 'Yes' : 'No' %></div>
          <div style="margin-bottom: 5px;">Paypal Completed: <%= ordersPaypal[i].paypalCompleted ? 'Yes' : 'No' %></div>
          <div style="margin-bottom: 5px;">Paypal Canceled: <%= ordersPaypal[i].paypalCanceled ? 'Yes' : 'No' %></div>
          

      <!--------I need to load these card fronts and back, but i need to reference---------->
      
      

      <!------------------>
    <form action="/orderEditor" method="get">
      <input type="hidden" name="cardId" value="<%=ordersPaypal[i].cardId%>">
      <input type="hidden" name="userId" value="<%=ordersPaypal[i].userId%>">
      <input type="hidden" name="orderId" value="<%=ordersPaypal[i]._id%>">
  <button type="submit">Download Assets</button>
    </form>

    <h2>Update Order</h2>
    <div class="card">
        <form action="/updateOrderPaypal" method="post">
            <input type="hidden"value="<%=ordersPaypal[i]._id%>" name="orderId">
            <h4>Sent to print</h4>
            <input type="radio" name="sentToPrint" value="true" checked> True
            <input type="radio" name="sentToPrint" value="false"> False
            <h4>paypal Completed</h4>
            <input type="radio" name="paypalCompleted" value="true" checked> True
            <input type="radio" name="paypalCompleted" value="false"> False
            <h4>paypalCanceled</h4>
            <input type="radio" name="paypalCanceled" value="true"> True
<input type="radio" name="paypalCanceled" value="false" checked> False
<h4>input tracking id</h4>
<input type="text" name="trackingId" value="">
<button type="submit">submit changes</button>
</form>


    </div>
   
    </div>
      <%}%>

    <%}%>
    <%}else{%>
      no active orders        
      <%}%>
  

  