<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=config.title%></title>
  </head>

  <body>      
    <div id="main">

<div>
 ADMIN PAGE ~  <a href="/">go HOME</a> 
  </div>
  <div>
    <button id="toggleCard" value="add new card design">newCard</button>
    <button id="toggleFont" value="Toggle Font Upload">fontUpload</button>
    <button id="toggleDraft" value="Toggle Draft Cards">draftCards</button>

  </div>
<div id="cardUploadDiv">
  <h3>upload card front and back:</h3>
  <form action="/admin/uploadCard" method="post" enctype="multipart/form-data">
    <div class="">       
      <label for="">card front</label> 
      <input type="file" name="cardFront"> 
      <label for="">card back</label> 
      <input type="file" name="cardBack">
      <label for="fontName1">Main Font:</label>
      <select name="fontName1" id="fontName1">
        <% fonts.forEach(function(font) { %>
          <option value="<%= font %>"><%= font %></option>
        <% });%>
      </select>      
      <label for="fontName2">Secondary Font:</label>
      <select name="fontName2" id="fontName2">
        <% fonts.forEach(function(font) { %>
          <option value="<%= font %>"><%= font %></option>
        <% }); %>
      </select>
    </div>
    <input type="submit" value="add to drafts">
  </form>
</div>

<div id="draftCards">
CARD DRAFTS
<% if (allCards && allCards.length > 0) { %>
  <div class="card-container">
    <% allCards.forEach(function(card) { %>
      <%if(card.preview === 'true'){%> 
        <div class="card">
          <%- include('partials/controlArrows') %>

          <label for="cardFront">Front:</label>          
          <div class="cardFrontFrame">
            <div class="cardImg">
              <img class="" src="<%= card.cardFront %>" alt="Card Front">
            </div>
           <img  style="bottom:<%=card.imgBottom%>;left:<%=card.imgLeft%>" class="headshot" src="images/sampleFace.jpg">
          </div>
          <input type="file" name="cardFrontFile"><br>
      
          <label for="cardBack">Back:</label>
          <div class="cardBackFrame">
            <div class="cardImg">
          <img class="" src="<%= card.cardBack %>" alt="Card Back">
          </div>
          <div  style="bottom:<%=card.dataBottom%>;left:<%=card.dataLeft%>" class="cardData">
            card data here
          </div>
        </div>
          <input type="file" name="cardBackFile"><br>

        <form action="/admin/updateCard" method="post" enctype="multipart/form-data">

          <input type="hidden" name="cardId" value="<%= card._id %>">
        
          <input type="hidden" id="hiddenInput" name="imgPosition" value="">


          <label for="fontName1">Main Font:</label>
          <select name="fontName1" id="fontName1">
            <% fonts.forEach(function(font) { %>
              <option value="<%= font %>" <%= font === card.fontName1 ? 'selected' : '' %>><%= font %></option>
            <% }); %>
          </select>
          <label for="fontName2">Main Font:</label>
          <select name="fontName2" id="fontName2">
            <% fonts.forEach(function(font) { %>
              <option value="<%= font %>" <%= font === card.fontName2 ? 'selected' : '' %>><%= font %></option>
            <% }); %>
          </select>
              
           






          <p>Uploaded By:<%= card.uploadedBy %></p>
          <input hidden type="text" id="uploadedBy" name="uploadedBy" value="<%= card.uploadedBy %>"><br>
        
          <input type="submit" value="Update Card">
        </form>
        
        
        
      <form action="/publishCard" method="post">
     <input type="submit" value="publish">
      </form>
        
      <input type="submit" id="deleteCardButton" value="delete card">
      <div class="deleteCardWarning" style="display: none;">
      
        <form action="/admin/deleteCard" method="post">
          are you SURE? this cannot be undone.
          <input type="hidden" name="_id" value="<%= card._id %>">
          <input type="submit" value="delete">
          <input type="button" value="cancel">
        </form>
      </div>
      

          </div>

      </div>
      <%}%>
   
    <% }) %>
    <% } else { %>
      <p>No cards available.</p>
      <% } %>
    </div>


<div id="uploadFonts">
  <div class="uploadFonts">
    <h3>Upload Fonts:</h3>
    <form action="/admin/uploadFonts" method="post" enctype="multipart/form-data">
      <input type="file" name="fonts" multiple>
      <input type="submit" value="Upload Fonts">
    </form>
  </div>
  

</div>
</div>
      <!--MENU IS CONSTANT FOOTER-->
      <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
      <div id="flashErrors"><%- include('./partials/FlashErrors',{user:user,message:message})%></div>          
    </div>    
       


  <script src="/javascripts/loader.js"></script>
  
  </body>

</html>

