<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=config.title%></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  </head>

  <body>      
    <div id="main">

<div>
 ADMIN PAGE ~  <a href="/">go HOME</a> 
  </div>
  
  <div>
    <button id="toggleDraft" value="Toggle Draft Cards">Manage Cards</button>
    <button id="toggleCard" value="add new card design">Add a Card</button>
    <button id="toggleFont" value="Toggle Font Upload">Upload Fonts</button>
  </div>

<div id="cardUploadDiv"><%- include('./partials/cardUploads')%></div>
<div id="draftCards"><%- include('./partials/cardDrafts',{user:user,message:message})%> </div>
<div id="uploadFonts"><%- include('./partials/fontUploads')%></div>

      <!--MENU IS CONSTANT FOOTER-->
     
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
   
    </div>    
    <div id="emails">
      <div class="userAdminDiv_cell">
      <div class="cartScroll">
      <%if(typeof users == 'object'&& users){%>
        <div class="cartTableDiv">
        <table class="cartTable">
          You have users!!
          **<a href="/admin">link to download csvs</a>
        <br>  <h8>**actions and downloads coming soon</h8>
          <thead>
            <th>name</th>
            <th>email</th>
          <th>**actions</th>
          </thead>
          <tbody>
            <%for(let i=0;i<users.length;i++){%>
              <tr>
          <td> <%=users[i].lastName%>,<%=users[i].firstName%></td>
          <td> <%=users[i].email%></td>
          <td> suspend~email~delete</td>
     
        </tr>
        <%}%>
      </tbody>
      </table>
    </div>
        <%}else{%>
          no users found
          <%}%>
        </div>
      </div>
    </div>
    <div class="colorsContainer" id="css-colors-container"></div>   
    <div id="filler"></div>

  <script src="/javascripts/loader.js"></script>
  <script src="/javascripts/nudge.js"></script>
  <script src="/javascripts/nudge2.js"></script>
  
  </body>

</html>

