<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=config.title%></title>
  </head>

  <body>      
    <div id="main">
    ADMIN PAGE <a href="/">home</a>
<button id="newCard">add new card design</button>
<div id="cardUploadDiv">
  <h3>upload card front and back:</h3>
  <form action="/admin/uploadCard" method="post" enctype="multipart/form-data">
  <div class="cardDate">
   
    <input type="file" name="cardFront"> 
    <input type="file" name="cardBack">
    <img id="cardFrontPreview" src="<%= cardFront %>" alt="upload to preview" width="300">
    <img id="cardBackPreview" src="<%= cardBack %>" alt="upload to preview" width="300">
   
    <div id="sampleFace">  
        <img class="sampleFace" src="/images/sampleFace.jpg"> 
      </div>
    </div>
    <input type="submit" value="Upload">
        </form>
   <h3>input default data:</h3>
   <div class="cardDate">
    <%if(typeof cardFront === 'object' && cardFront){%>
<%= cardFront%>
<%= cardBack%>
    <%}%>
     <label>chapter</label><input type="text" name="chapter" id="cardchapter">
     <label>address</label><input type="text" name="address" id="cardaddress">
     <label>email</label><input type="text" name="email" id="cardemail">
     <label>phone</label><input type="text" name="phone" id="cardphone">
     <label>birthday</label><input type="text" name="birthday" id="cardbirthday">
     <label>up close</label><input type="text" name="upClose" id="cardupClose">
    </div>

    


</div>
      <!--MENU IS CONSTANT FOOTER-->
      <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
      <div id="flashErrors"><%- include('./partials/FlashErrors',{user:user,message:message})%></div>          
    </div>    
       
<script>
  document.getElementById("newCard").addEventListener("click", function() {
    var div = document.getElementById("cardUploadDiv");
    
    if (div.style.display === "none" || div.style.display === "") {
        div.style.display = "block";
    } else {
        div.style.display = "none";
    }
});

</script>

  <script src="/javascripts/loader.js"></script>
  
  </body>

</html>

