<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=config.title%></title>
  </head>

  <body>      
    <div id="main">


    ADMIN PAGE <a href="/">home</a>



<button id="newCard">add new card design</button>


<div id="cardUploadDiv">
  <h3>upload card front and back:</h3>
  <form action="/admin/uploadCard" method="post" enctype="multipart/form-data">
    <div class="">  
      <label for="">orientation</label> 
      <select name="vertical" id="">
        <option value="true">vertical</option>
        <option value="false">horizontal</option>
      </select>
      <label for="">imgPOS</label> 
      <select name="imgPOS">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="center">Center</option>
        <option value="top-left">Top-Left</option>
        <option value="top-right">Top-Right</option>
      </select>
      <label for="">card front</label> 
      <input type="file" name="cardFront"> 
      <label for="">card back</label> 
      <input type="file" name="cardBack">
      <label for="">dataPOS</label> 
      <select name="dataPOS">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="center">Center</option>
        <option value="top-left">Top-Left</option>
        <option value="top-right">Top-Right</option>
      </select>
      <label for="">mainFont</label> 
      <input type="file" name="fontName1">
      <label for="">secondaryFont</label> 
      <input type="file" name="fontName2">
     
    </div>
    <button type="submit" value="Upload">add to drafts</button>
  </form>
  

    <%if(typeof cardFront === 'object' && cardFront){%>
<%= cardFront%>
<%= cardBack%>
    <%}%>
   
</div>

<div class="draftCards">
CARD DRAFTS


<% if (allCards && allCards.length > 0) { %>
  <div class="card-container">
    <% allCards.forEach(function(card) { %>
      <%if(card.preview === 'true'){%> 
        <div class="card">

          <label for="cardFront">Front:</label>          
          <div class="cardFrontFrame">
            <div class="cardImg">
              <img class="" src="<%= card.cardFront %>" alt="Card Front">
            </div>
           <img  style="bottom:<%=card.cardBottom%>;left:<%=card.cardLeft%>" class="headshot" src="images/sampleFace.jpg">
          </div>
          <input type="file" name="cardFrontFile"><br>
      
          <label for="cardBack">Back:</label>
          <div class="cardBackFrame">
            <div class="cardImg">
          <img class="" src="<%= card.cardBack %>" alt="Card Back">
          </div>
        </div>
          <input type="file" name="cardBackFile"><br>

        <form action="updateCard" method="post" enctype="multipart/form-data">
          <input type="hidden" name="cardId" value="<%= card._id %>">
        
          <label for="fontName1">Font 1:</label>
          <input type="text" id="fontName1" name="fontName1" value="<%= card.fontName1 %>">
          <input type="file" name="fontName1File"><br>
        
          <label for="fontName2">Font 2:</label>
          <input type="text" id="fontName2" name="fontName2" value="<%= card.fontName2 %>">
          <input type="file" name="fontName2File"><br>
        
          <p>Uploaded By:<%= card.uploadedBy %></p>
          <input hidden type="text" id="uploadedBy" name="uploadedBy" value="<%= card.uploadedBy %>"><br>
        
          <label for="uploadedBy">Update Session by:<%= card.uploadedBy %></label>
          <input hidden type="text" id="uploadedBy" name="uploadedBy" value="<%= user.displayName %>"><br>
        
          <input type="submit" value="Update Card">
        </form>
        
        
        
      <form action="/publishCard" method="post">
        <button>publish</button>
      </form>
        
      <button id="deleteCardButton">delete card</button>
      <div class="deleteCardWarning" style="display: none;">
        <form action="/admin/deleteCard" method="post">
          are you SURE? this cannot be undone.
          <input type="hidden" name="_id" value="<%= card._id %>">
          <input type="submit" value="delete">
          <input type="button" value="cancel">
        </form>
      </div>
      

          </div>

      </div>
      <%}%>
   
    <% }) %>
  </div>
<% } else { %>
  <p>No cards available.</p>
<% } %>

</div>
      <!--MENU IS CONSTANT FOOTER-->
      <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
      <div id="flashErrors"><%- include('./partials/FlashErrors',{user:user,message:message})%></div>          
    </div>    
       
<script>
  document.getElementById("newCard").addEventListener("click", function() {
    var div = document.getElementById("cardUploadDiv");
    
    if (div.style.display === "none" || div.style.display === "") {
        div.style.display = "block";
    } else {
        div.style.display = "none";
    }
});
document.addEventListener("DOMContentLoaded", function() {
  const deleteCardButton = document.getElementById("deleteCardButton");
  const deleteCardWarning = document.querySelector(".deleteCardWarning");

  deleteCardButton.addEventListener("click", function() {
    deleteCardWarning.style.display = "block";
  });

  const cancelButton = deleteCardWarning.querySelector("input[type='button']");
  cancelButton.addEventListener("click", function() {
    deleteCardWarning.style.display = "none";
  });
});

</script>

  <script src="/javascripts/loader.js"></script>
  
  </body>

</html>

