<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=config.title%></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  </head>

  <body>      
    <div id="main">

<div>
 ADMIN PAGE ~  <a href="/">go HOME</a> 
  </div>
  
  <div>
    <button id="toggleDraft" value="Toggle Draft Cards">Manage Cards</button>
    <button id="toggleCard" value="add new card design">Add a Card</button>
    <button id="toggleFont" value="Toggle Font Upload">Upload Fonts</button>
  </div>
<div id="thumbnails"><%- include('./partials/cardThumbs',{user:user,message:message})%></div>
<div id="cardUploadDiv"><%- include('./partials/cardUploads')%></div>
<div id="draftCards"><%- include('./partials/cardDrafts',{user:user,message:message})%> </div>
<div id="uploadFonts"><%- include('./partials/fontUploads')%></div>

      <!--MENU IS CONSTANT FOOTER-->
      <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
      <div id="flashErrors"><%- include('./partials/FlashErrors',{user:user,message:message})%></div>          
    </div>    
       
    <div id="filler"></div>

  <script src="/javascripts/loader.js"></script>
  <script src="/javascripts/nudge.js"></script>
  
  </body>

</html>

