<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=config.title%></title>
  </head>

  <body>      
    <div id="main">


    ADMIN PAGE <a href="/">home</a>



<button id="newCard">add new card design</button>


<div id="cardUploadDiv">
  <h3>upload card front and back:</h3>
  <form action="/admin/uploadCard" method="post" enctype="multipart/form-data">
    <div class="cardDate">  
      <label for="">imgPOS</label> 
      <label for="">orientation</label> 
      <select name="vertical" id="">
        <option value="true">vertical</option>
        <option value="false">horizontal</option>
      </select>
      <select name="imgPOS">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="center">Center</option>
        <option value="top-left">Top-Left</option>
        <option value="top-right">Top-Right</option>
      </select>
      <label for="">card front</label> 
      <input type="file" name="cardFront"> 
      <label for="">card back</label> 
      <input type="file" name="cardBack">
      <label for="">dataPOS</label> 
      <select name="dataPOS">
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="center">Center</option>
        <option value="top-left">Top-Left</option>
        <option value="top-right">Top-Right</option>
      </select>
      <label for="">mainFont</label> 
      <input type="file" name="fontName1">
      <label for="">secondaryFont</label> 
      <input type="file" name="fontName2">
     
    </div>
    <button type="submit" value="Upload">add to drafts</button>
  </form>
  

    <%if(typeof cardFront === 'object' && cardFront){%>
<%= cardFront%>
<%= cardBack%>
    <%}%>
   
</div>

<div class="currentCards">
current cards


<% if (allCards && allCards.length > 0) { %>
  <div class="card-container">
    <% allCards.forEach(function(card) { %>
      <div class="card">
        <p>dataPOS: <%= card.dataPOS%> <br>
          imgPOS: <%= card.imgPOS %> <br>
          font1:  <%= card.fontName1%><br>
           font2:  <%= card.fontName2 %><br>
            uploaded by:  <%= card.uploadedBy %></p><br>
        <p>front:</p>
        <img class="card" src="<%= card.cardFront %>" alt="Card Front">
       <p>back</p>
        <img class="card" src="<%= card.cardBack %>" alt="Card Back">
      </div>
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p>No cards available.</p>
<% } %>

</div>
      <!--MENU IS CONSTANT FOOTER-->
      <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
      <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
      <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
      <div id="flashErrors"><%- include('./partials/FlashErrors',{user:user,message:message})%></div>          
    </div>    
       
<script>
  document.getElementById("newCard").addEventListener("click", function() {
    var div = document.getElementById("cardUploadDiv");
    
    if (div.style.display === "none" || div.style.display === "") {
        div.style.display = "block";
    } else {
        div.style.display = "none";
    }
});

</script>

  <script src="/javascripts/loader.js"></script>
  
  </body>

</html>

