<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%=config.title%></title>
<!-----------------------------------------------|-------------------->
<!--------------match card fonts-----------------|--- MOSTLY DONE----->
<!----------add all cards avail------------------|----MOSTLY DONE----->
<!---------add name to designs-------------------|----DONE------------->
<!---------add positioining to name--------------|---------------------->
<!---change user data set including user name----|------------------->
<!---------option for font color-----------------|----DONE----------->
<!---------remove likes counter------------------|----DONE--------->
<!------login form responsive design-------------|------------------>
<!-----------red hat branding--------------------|------------------>
<!-------register confirmation emailas-----------|----------------->
<!---------password reset email------------------|----------------->
<!------YOUR FORMS ALL NEED RESPONSIVE REPAIR----|--------------->
<!------------BEGIN DESKTOP DESIGN---------------|---STARTED------>
<!------------COMPLETE CART FLOW-----------------|-------------->
<!--------------IMPLEMENT PAYPAL-----------------|------------>
<!-----------WEBHOOK FROM PURCHASE---------------|------------->
<!-----------------------------------------------|------------->
<!-----------------------------------------------|------------->
<!-----------------------------------------------|------------->
<!-----------------------------------------------|------------->
<!---->
<!---->
<!---->
  </head>

  <body>      
    
    <div id="main">
 
     <div id="header">
      <div id="headerContainer">
        <img class="header"src="/images/banner_cell.jpg" alt="">
      </div>
    </div>

  
    <div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
    <div id="welcome"><%- include('./partials/welcome',{user:user,message:message})%></div>
    <div id="userSetup"><%- include('./partials/userSetup',{user:user,message:message})%></div>   
    <div id="cards">  <%- include('./partials/cards',{user:user,message:message})%></div>
     <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
     <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
    <div id="cart">  
      <%
      - include('./partials/cart',{user:user,message:message})
      %>
      </div>
    
      <!----MENU IS CONSTANT FOOTER-->
    
    
             
    </div>    
    <%if(typeof user =='object' && user.isAdmin){%> <div><h2>go to <a href="/admin">admin</a> panel </h2></div><%}%>
    <div id="filler"></div>
    <div id="filler"></div>
  <script src="/javascripts/loader.js"></script>
  
  </body>

</html>







