<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>View and Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>      
    <div id="main">
        <h2>Edit Order for <%=order._id%></h2>
        <!-------------MODULE BEGIN---------->
        <div class="card-container">    
            <div class="card">         
                <%=card.cardName%>
                <div id="frontFrame" class="cardFrontFrame">
                    <% if(card.vertical == "false"){ %>
                    <div class="cardImg">
                    <% } else { %>
                        <div class="cardImg_vertical">
                    <% } %>
                    <% if(card.nameStack == "false"){ %>
                    <% if(typeof user =='object' && user.firstName){ %>
                        <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                            <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName + " " + user.lastName%></div>
                        </div>
                    <% } else { %>
                        <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                            <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname lastname</div>
                        </div>
                    <% } %>
                    <% } %>
                    <% if(card.nameStack == "true"){ %>
                    <% if(typeof user =='object' && user.firstName){ %>
                        <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;"  class ="realName" draggable="true">
                            <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName%><br><%=user.lastName%></div>
                        </div>
                    <% } else { %>
                        <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                            <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname <br>lastname</div>
                        </div>
                    <% } %>
                    <% } %>            
                    <div id="royalTitle" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;"  class="royalTitle" draggable="true">
                        <div id="royalTitleText" style="word-wrap: normal; max-width: 125px; font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> <%=user.title%></div>
                    </div>   
                    <img class="" src="<%= card.cardFront %>" alt="Card Front">
                    <div id="headshot" class="headshot">
                        <img id="headshotImg" style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale%>);" class="headshot" src="/images/userHeadshots/<%=user.userImg%>" alt="Headshot">
                    </div>
                </div>
            </div>                 
            <div id="backFrame" class="cardBackFrame">                        
                <% if(card.vertical == "false"){ %>
                    <div class="cardImg">
                <% } else { %>
                    <div class="cardImg_vertical">
                <% } %>        
                <img class="" src="<%= card.cardBack %>" alt="Card Back">
                <div class="textBox" id="textBox"  style="position:absolute; transform: translateY(<%= card.text0PositionY %>px) translateX(<%= card.text0PositionX %>px)rotate(<%= card.text0Rotation + "deg"%>);"  draggable="true">
                    <div id="textTitles" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
                        <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.chapter%></div>
                        <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.address%></div> 
                        <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.email%></div> 
                        <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>"><%=user.phone%></div> 
                        <div class="font_<%=card.fontName1%>">Birthday</div><div>:</div><div class="font_<%=card.fontName2%>"><%= user.birthday_day + " " + user.birthday_month %></div>                     
                    </div>                
                </div>     
            </div>
        </div>        
    </div>
    <div id="orderData">
        <div id="orderMeta" style="display: none;">
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Custom ID:</strong> <%= order.customId %></p>
        <p><strong>Paypal Approved:</strong> <%= order.paypalApproved %></p>
        <p><strong>Paypal Completed:</strong> <%= order.paypalCompleted %></p>
        <p><strong>Sent To Print:</strong> <%= order.sentToPrint %></p>
        <p><strong>Paypal Canceled:</strong> <%= order.paypalCanceled %></p>
    </div>
    
    <p><strong>Paypal ID:</strong> <%= order.paypalId %></p>
        <p><strong>User ID:</strong> <%= order.userId %></p>
        <p><strong>Card ID:</strong> <%= order.cardId %></p>
        <p><strong>User Email:</strong> <%= order.userEmail %></p>
        <p><strong>Tracking ID:</strong> <%= order.trackingId %></p>
        <p><strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleString() %></p>
        <p><strong>Amount:</strong> <%= order.amount %></p>
        <p><strong>Description:</strong> <%= order.description %></p>
        <p><strong>Shipping Address:</strong></p>
        <ul>
          <li><strong>Address Line 1:</strong> <%= order.shippingAddress.addressLine1 %></li>
          <li><strong>Address Line 2:</strong> <%= order.shippingAddress.addressLine2 %></li>
          <li><strong>City:</strong> <%= order.shippingAddress.city %></li>
          <li><strong>State:</strong> <%= order.shippingAddress.state %></li>
          <li><strong>Postal Code:</strong> <%= order.shippingAddress.postalCode %></li>
          <li><strong>Country Code:</strong> <%= order.shippingAddress.countryCode %></li>
        </ul>
      </div>
      
    <!-------------MODULE END---------->
    <!------------------>
    <form action="/admin" method="get">
        <button type="submit">Go Back</button>
        <%if(typeof user =='object' && user.isAdmin){%> <div><h2>go to <a href="/admin">admin</a> panel </h2></div><%}%>

    </form>
    <!--form action="/approveOrder" method="post">
        <input type="hidden" name="order_id" value="<%=order._id%>">
        <button>Approve</button>
    </form-->
    <button onclick="exportBackFrameToPDF('<%=user.lastName%>_back'); exportFrontFrameToPDF('<%=user.lastName%>_front'); exportUserDataToPDF(<%= JSON.stringify(user) %>, <%= JSON.stringify(card) %>, <%= JSON.stringify(order) %>)">Approve</button>
    <!---------------->
    <div class="fontsizeeditor">
    <div class="realname">
        Real Name Font
        <button id="realNameFontSizeBtnPlus">+</button>
        <button id="realNameFontSizeBtnMinus">-</button>
    </div>
    <div class="royalname">
        Royal Name Font
        <button id="royalTitleFontSizeBtnPlus">+</button>
        <button id="royalTitleFontSizeBtnMinus">-</button>
    </div>
    <div class="data">
        Data Font
        <button id="textBoxFontSizeBtnPlus">+</button>
        <button id="textBoxFontSizeBtnMinus">-</button>
    </div>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Function to handle dragging
            function dragElement(element) {
                var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
    
                element.onmousedown = dragMouseDown;
    
                function dragMouseDown(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // Get the mouse cursor position at startup
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    document.onmouseup = closeDragElement;
                    document.onmousemove = elementDrag;
                }
    
                function elementDrag(e) {
                    e = e || window.event;
                    e.preventDefault();
                    // Calculate the new cursor position
                    pos1 = pos3 - e.clientX;
                    pos2 = pos4 - e.clientY;
                    pos3 = e.clientX;
                    pos4 = e.clientY;
                    // Set the element's new position
                    element.style.top = (element.offsetTop - pos2) + "px";
                    element.style.left = (element.offsetLeft - pos1) + "px";
                }
    
                function closeDragElement() {
                    // Stop moving when mouse button is released
                    document.onmouseup = null;
                    document.onmousemove = null;
                }
            }
    
            // Apply drag function to all draggable elements
            document.querySelectorAll('.realName, .royalTitle, .textBox').forEach(dragElement);
    
            // Function to adjust font size
            function adjustFontSize(elementId, increase = true) {
                let targetElement = document.getElementById(elementId);
                if (targetElement) {
                    let currentSize = parseInt(window.getComputedStyle(targetElement).fontSize);
                    currentSize = increase ? currentSize + 1 : currentSize - 1;
                    targetElement.style.fontSize = `${currentSize}px`;
                } else {
                    console.error('Element not found:', elementId);
                }
            }
    
            // Event listeners for font size buttons
            document.querySelectorAll('[id$="FontSizeBtnPlus"], [id$="FontSizeBtnMinus"]').forEach(button => {
                button.addEventListener('click', function() {
                    let elementId = this.id.split('FontSizeBtn')[0]; // Gets the prefix before 'FontSizeBtn'
                    if (elementId === 'realName' || elementId === 'royalTitle') {
                        elementId += 'Text'; // Append 'Text' for realName and royalTitle
                    }
                    adjustFontSize(elementId, this.id.includes('Plus'));
                });
            });
        });
    </script>
    
    
    <script src="/javascripts/loader.js"></script>
</body>
</html>
