<!DOCTYPE html>
<html lang="en">
    <head> 
<!--/views/orderEditor.ejs-->
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>View and Buy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</head>
<body>      
    <div id="main">
 
          
        <!-------------MODULE BEGIN---------->
        <div class="card-container-export">    
            
            <div class="cardExport">         
                <%=card.cardName%>
                <!---------------------FRONT FRAME EXPORT-------------------->
                <div id="frontFrame_<%=card._id%>" class="cardFrontFrameExport">
                    <% if(card.vertical == "false"){ %>
                        <div class="cardImgExport">
                            <% } else { %>
                                <div class="cardImgExport_vertical">
                                    <% } %>
                    <% if(card.nameStack == "false"){ %>
                        <% if(typeof user =='object' && user.firstName){ %>
                            <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                                <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName + " " + user.lastName%></div>
                        </div>
                        <% } else { %>
                            <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                                <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname lastname</div>
                            </div>
                            <% } %>
                    <% } %>
                    <% if(card.nameStack == "true"){ %>
                    <% if(typeof user =='object' && user.firstName){ %>
                        <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;"  class ="realName" draggable="true">
                            <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName%><br><%=user.lastName%></div>
                        </div>
                        <% } else { %>
                            <div id="realName" style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" class ="realName" draggable="true">
                                <div id="realNameText" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname <br>lastname</div>
                            </div>
                            <% } %>
                            <% } %>            
                            <div id="royalTitle" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;"  class="royalTitle" draggable="true">
                                <div id="royalTitleText" style="word-wrap: normal; max-width: 125px; font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"> <%=user.title%></div>
                            </div>   
                            <img class="" src="<%= card.cardFront %>" alt="Card Front">
                            <div id="headshot" class="headshot">
                                <img id="headshotImg" style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale%>);" class="headshot" src="/images/userHeadshots/<%=user.userImg%>" alt="Headshot">
                            </div>
                        </div>
                    </div>             
                    <!----------**************END FRONT FRAME EXPORT*****************------------------>
                    
                    
                    
                    
                    <!-------------------BACK FRAME EXPORT-------------------->
                    <div id="backFrame_<%=card._id%>" class="cardBackFrameExport">                        
                        
                        <div style="width:90%" class="cardImgExport">
                            
                            
                        <img class="imgBackExport" src="<%= card.cardBack %>" alt="Card Back">
                        <div class="textBox" id="textBox_<%=card._id%>"  style="position:absolute;top:<%= card.text0PositionY %>px;left:<%= card.text0PositionX %>px; transform: rotate(<%= card.text0Rotation + "deg"%>);" draggable="true" >
                            <div id="textTitles_<%=card._id%>" style= "width:200%;font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
                                <div class="font_<%=card.fontName1%>">Chapter</div><div>: </div><div class="font_<%=card.fontName2%>"><%=user.chapter%></div>
                                <div class="font_<%=card.fontName1%>">Address</div><div>: </div><div class="font_<%=card.fontName2%>"><%=user.address%></div> 
                        <div class="font_<%=card.fontName1%>">Email</div><div>: </div><div class="font_<%=card.fontName2%>"><%=user.email%></div> 
                        <%if(user.phone!==""){%>
                        <div class="font_<%=card.fontName1%>">Phone</div><div>: </div><div class="font_<%=card.fontName2%>"><%=user.phone%></div> 
                       <%}%>
                        <div class="font_<%=card.fontName1+" "  %>">Birthday</div><div>: </div><div class="font_<%=card.fontName2%>"><%= user.birthday_day + " " + user.birthday_month %></div>                     
                    </div>                
                </div>     
            </div>
        </div>        
        <!----------**************END FRONT FRAME EXPORT*****************------------------>
    </div>
    </div>
    
    
    <div class="orderData">
        <div class="orderInfo">
            <div class="card">
                <div id="orderMeta" style="display: none;">
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Custom ID:</strong> <%= order.customId %></p>
        <p><strong>Paypal Approved:</strong> <%= order.paypalApproved %></p>
        <p><strong>Paypal Completed:</strong> <%= order.paypalCompleted %></p>
        <p><strong>Sent To Print:</strong> <%= order.sentToPrint %></p>
        <p><strong>Paypal Canceled:</strong> <%= order.paypalCanceled %></p>
        <p><strong>Paypal ID:</strong> <%= order.paypalId %></p>
        <p><strong>User ID:</strong> <%= order.userId %></p>
            <p><strong>Card ID:</strong> <%= order.cardId %></p>
        </div>
    
        <p><strong>User Email:</strong> <%= order.userEmail %></p>
        <p><strong>Tracking ID:</strong> <%= order.trackingId %></p>
        <p><strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleString() %></p>
        <p><strong>Amount:</strong> <%= order.amount %></p>
        <p><strong>Description:</strong> <%= order.description %></p>
        <p><strong>Shipping Address:</strong></p>
        <ul>
            <li><strong>Address Line 1:</strong> <%= order.shippingAddress.addressLine1 %></li>
            <li><strong>Address Line 2:</strong> <%= order.shippingAddress.addressLine2 %></li>
            <li><strong>City:</strong> <%= order.shippingAddress.city %></li>
          <li><strong>State:</strong> <%= order.shippingAddress.state %></li>
          <li><strong>Postal Code:</strong> <%= order.shippingAddress.postalCode %></li>
          <li><strong>Country Code:</strong> <%= order.shippingAddress.countryCode %></li>
        </ul>
      </div>
      </div>
      <div class="card">
        <h2>Process Order for <%=user.firstName%></h2>
        <h3><a href="/userEditor?id=<%=user._id%>">edit <%-user.firstName%>'s info</a></h3>
        <button onclick="exportBackFrameToPDF('<%=user.lastName%>',document.querySelector('.orientation').value); exportFrontFrameToPDF('<%=user.lastName%>',document.querySelector('.orientation').value); exportUserDataToPDF('<%=user.lastName%>')">Approve and Download Assets</button>
            <button type="submit">Back to Admin</button>
    

    
        <select id="orientationDropdown" name="cardOrientation" class="orientation">
            <option value="horizontal">horizontal</option>
            <option value="vertical">vertical</option>
        </select>
    </div>
</div>
    <!-------------MODULE END---------->
    <!------------------>
    
    <!---------------->
    <div class="orderControls">
        <div class="card">
            <div class="headShotCtl">
               <input type="range" id="scaleSliderImg" min="0.5" max="10" step="0.01" value="1">
            </div>
    <div class="realname">
        Real Name Font
        <button id="realNameFontSizeBtnPlus_<%=card._id%>">+</button>
        <button id="realNameFontSizeBtnMinus_<%=card._id%>">-</button>
    </div>
    <div class="royalname">
        Royal Name Font
        <button id="royalTitleFontSizeBtnPlus_<%=card._id%>">+</button>
        <button id="royalTitleFontSizeBtnMinus_<%=card._id%>">-</button>
      <input type="range" id="widthSlider" min="100" max="1000" value="500" step="1">
    </div>
    <div class="data">
        Data Font
        <button id="textBoxFontSizeBtnPlus_<%=card._id%>">+</button>
        <button id="textBoxFontSizeBtnMinus_<%=card._id%>">-</button>
    </div>
    <input type="range" min="0" max="200" value="100" class="slider" id="myRange">
    <div id="sliderValue">100%</div>


        <h2>Update Order</h2>
        <div class="card">
            <form action="/updateOrderPaypal" method="post">
                <input type="hidden"value="<%=order._id%>" name="orderId">
                <h4>Sent to print</h4>
                <input type="radio" name="sentToPrint" value="true" checked> True
                <input type="radio" name="sentToPrint" value="false"> False
                <h4>paypal Completed</h4>
                <input type="radio" name="paypalCompleted" value="true" checked> True
                <input type="radio" name="paypalCompleted" value="false"> False
                <h4>paypalCanceled</h4>
                <input type="radio" name="paypalCanceled" value="true"> True
<input type="radio" name="paypalCanceled" value="false" checked> False
<h4>input tracking id</h4>
<input type="text" name="trackingId" value="">
<button type="submit">submit changes</button>
</form>


        </div>
    </div>
    </div>
    </div>








    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const orientationDropdown = document.getElementById('orientationDropdown'); // Assume you've added this id to your dropdown
            const cardFrontFrames = document.querySelectorAll('.cardFrontFrameExport');
            const cardBackFrames = document.querySelectorAll('.cardBackFrameExport');
            const imgBackExport = document.querySelectorAll('.imgBackExport');

        
            // Function to update width and height based on orientation
            const updateCardDimensions = (orientation) => {
                // Define dimensions for vertical and horizontal orientations
                const dimensions = {
                    vertical: { width: 675, height: 1125 }, // Example dimensions for vertical cards
                    horizontal: { width: 1125, height: 675 } // Example dimensions for horizontal cards
                };
        
                // Apply the dimensions based on the current orientation
                const { width, height } = dimensions[orientation];
             
                    imgBackExport.forEach(frame  => {
                        frame.style.width=width+'px';
                        frame.style.height=height+'px';
                    });
                // cardExport.forEach(frame => {
                //     frame.style.width = width+'px';
                //     frame.style.height = height*2+'px'
                // });
                cardFrontFrames.forEach(frame => {
                    frame.style.width = width+'px';
                    frame.style.height = height+'px';
                });
                cardBackFrames.forEach(frame => {
                    frame.style.width = width+'px';
                    frame.style.height = height+'px';
                });
            };
        
            // Event listener for changes on the dropdown
            orientationDropdown.addEventListener('change', function() {
                const selectedOrientation = this.value; // 'vertical' or 'horizontal'
                updateCardDimensions(selectedOrientation);
            });
        
            // Initialize with the current selection
            const initialOrientation = orientationDropdown.value;
            updateCardDimensions(initialOrientation);
        });
        </script>
        

    <script>

var slider = document.getElementById("myRange");
var output = document.getElementById("sliderValue");
output.innerHTML = slider.value + "%";

slider.oninput = function() {
  output.innerHTML = this.value + "%";
  var textBox = document.getElementById("textBox_<%=card._id%>");
  textBox.style.width = this.value + "%";
}








    // Real Name Font Size
    document.getElementById("realNameFontSizeBtnPlus_<%=card._id%>").addEventListener("click", function() {
        var realNameText = document.getElementById("realNameText");
        var currentFontSize = parseFloat(window.getComputedStyle(realNameText, null).getPropertyValue('font-size'));
        realNameText.style.fontSize = (currentFontSize + 1) + "px";
    });

    document.getElementById("realNameFontSizeBtnMinus_<%=card._id%>").addEventListener("click", function() {
        var realNameText = document.getElementById("realNameText");
        var currentFontSize = parseFloat(window.getComputedStyle(realNameText, null).getPropertyValue('font-size'));
        realNameText.style.fontSize = (currentFontSize - 1) + "px";
    });

    // Royal Name Font Size
    document.getElementById("royalTitleFontSizeBtnPlus_<%=card._id%>").addEventListener("click", function() {
        var royalTitleText = document.getElementById("royalTitleText");
        var currentFontSize = parseFloat(window.getComputedStyle(royalTitleText, null).getPropertyValue('font-size'));
        royalTitleText.style.fontSize = (currentFontSize + 1) + "px";
    });

    document.getElementById("royalTitleFontSizeBtnMinus_<%=card._id%>").addEventListener("click", function() {
        var royalTitleText = document.getElementById("royalTitleText");
        var currentFontSize = parseFloat(window.getComputedStyle(royalTitleText, null).getPropertyValue('font-size'));
        royalTitleText.style.fontSize = (currentFontSize - 1) + "px";
    });

    // Data Font Size
    document.getElementById("textBoxFontSizeBtnPlus_<%=card._id%>").addEventListener("click", function() {
        var textTitles = document.getElementsByClassName("textTitles")[0];
        var currentFontSize = parseFloat(window.getComputedStyle(textTitles, null).getPropertyValue('font-size'));
        textTitles.style.fontSize = (currentFontSize + 1) + "px";
    });

    document.getElementById("textBoxFontSizeBtnMinus_<%=card._id%>").addEventListener("click", function() {
        var textTitles = document.getElementsByClassName("textTitles")[0];
        var currentFontSize = parseFloat(window.getComputedStyle(textTitles, null).getPropertyValue('font-size'));
        textTitles.style.fontSize = (currentFontSize - 1) + "px";
    });
</script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    const img = document.getElementById('headshotImg');
    const slider = document.getElementById('scaleSliderImg'); // Updated ID reference

    let isDragging = false;
    let dragStartX, dragStartY;
    let imgPosX = 0, imgPosY = 0; // Initial positions
    let scale = slider.value; // Initial scale

    // Update the transform style
    const updateTransform = () => {
        img.style.transform = `translate(${imgPosX}px, ${imgPosY}px) scale(${scale})`;
    };

    // Drag and Drop for the image
    img.addEventListener('mousedown', (e) => {
        isDragging = true;
        dragStartX = e.clientX - imgPosX;
        dragStartY = e.clientY - imgPosY;
        img.style.cursor = 'grabbing';
    });

    document.addEventListener('mousemove', (e) => {
        if (isDragging) {
            imgPosX = e.clientX - dragStartX;
            imgPosY = e.clientY - dragStartY;
            updateTransform();
        }
    });

    document.addEventListener('mouseup', () => {
        if (isDragging) {
            isDragging = false;
            img.style.cursor = 'grab';
        }
    });

    // Slider control for scale
    slider.addEventListener('input', function() {
        scale = this.value;
        updateTransform();
    });
});

</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const slider = document.getElementById('widthSlider');
    const textElement = document.getElementById('royalTitleText');

    // Function to update max-width
    const updateMaxWidth = () => {
        textElement.style.maxWidth = `${slider.value}px`;
    };

    // Update max-width based on the slider's initial position
    updateMaxWidth();

    // Event listener for slider changes
    slider.addEventListener('input', updateMaxWidth);
});

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/nudge2.js"></script>
</body>
</html>
