<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>view and buy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=<%=config.companyPaypal%>&currency=USD&intent=capture&enable-funding=venmo" data-sdk-integration-source="integrationbuilder"></script>
</head>
<body>      
  
  <div id="main">
    
 
    <div id="header">
      <div id="headerContainer_cell">
        <img class="header"src="/images/banner_cell.jpg" alt="">
      </div>
      <div id="headerContainer_desk">
        <img class="header"src="/images/banner_desk.jpg" alt="">
      </div>
    </div>
    <div id="flashErrors"><%- include('./partials/flashErrors',{message:message})%></div>

    <div id="userSetup"><%- include('./partials/userSetup',{user:user,message:message})%></div>   
    <%if(typeof user=="object" && user){%>
      <input id="ppalUserId" type="hidden" name="userId" value="<%=user._id%>">
  
  
  
      <h2>Step 3: Review Your Deisign</h2>

  <%}%>
  
  
  <div class="card">
    <h2>  <span class="span_branded"><%=card.cardName%></span></h2>
  <div class="cardFrontFrame">
    <%if(card.vertical=="false"){%>
      <div class="cardImg">
        <%}else{%>
          <div class="cardImg_vertical">
        <%}%>  
        <%if(card.nameStack=="false"){%>
        <%if(typeof user =='object'&& user.firstName){%>
          <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
            <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName+ " "+ user.lastName%></div>
          </div>
          <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
            <div id="royalTitleText_<%= card._id %>" style="word-wrap: normal; max-width: 125px; font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"><%=user.title || 'royal title here'%></div>
             </div>
          <%}else{%>
            <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
              <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname lastname</div>
            </div>
            <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
              <div id="royalTitleText_<%= card._id %>" style="word-wrap: normal; max-width: 125px; font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>">Royal Title Here</div>
               </div>
            <%}%>
            <%}%>
            
            <%if(card.nameStack=="true"){%>
              <%if(typeof user =='object'&& user.firstName){%>
                <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                  <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; "><%=user.firstName%><br><%=user.lastName%></div>
                </div>
                <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                  <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>"><%=user.title || 'royal title here'%></div>
                   </div>
                <%}else{%>
                  <div id="realName_<%=card._id%>"  style="position:absolute; top:<%= card.text1PositionY %>px; left:<%= card.text1PositionX %>px;" id="realName_<%card._id%>" class ="realName">
                    <div id="realNameText_<%=card._id%>" class="font_<%=card.fontName1%>" style="font-size:<%= card.font1Size %>px;color:<%=card.text1Color%>; ">firstname <br>lastname</div>
                  </div>
                  <div id="royalTitle_<%=card._id%>" style="position:absolute; top:<%= card.text2PositionY %>px; left:<%= card.text2PositionX %>px;" id="realName_<%card._id%>" class="royalTitle">
                    <div id="royalTitleText_<%= card._id %>" style="font-size:<%= card.font2Size %>px; color:<%=card.text1Color%>" class="font_<%=card.fontName2%>">Royal Title Here</div>
                     </div>
                  <%}%>
                  
                  <%}%>
                   
                        
               
          <img class="" src="<%= card.cardFront %>" alt="Card Front">
      <%if(typeof user =="object" && user.userImg){%>

        <div id="headshot_<%= card._id %>" class="headshot">
          
               <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="/images/userHeadshots/<%=user.userImg%>" alt="Headshot">
             </div>
        <%}else{%>
          <div id="headshot_<%= card._id %>" class="headshot">
            
                 <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="/images/sampleFace.png" alt="Headshot">
               </div>
       <%}%>
    </div>
  </div>
  <div class="cardBackFrame">
    <%if(card.vertical=="false"){%>
      <div class="cardImg">
        <%}else{%>
          <div class="cardImg_vertical">
        <%}%>
      
      <img class="" src="<%= card.cardBack %>" alt="Card Back">
      <div style="position:absolute; transform: translateY(<%= card.text0PositionY %>px) translateX(<%= card.text0PositionX %>px)rotate(<%=card.text0Rotation+"deg"%>);" class="textBox" id="textBox_<%= card._id %>">
        <% if (typeof user && user) { %>
          <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
            <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>"> <%=user.chapter%></div>
            <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>"> <%=user.address%></div> 
            <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>"> <%=user.email%></div> 
            <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>"> <%=user.phone%></div> 
            <div class="font_<%=card.fontName1%>">Birthday</div><div>:</div><div class="font_<%=card.fontName2%>"> <%=user.birthday_month+" "+user.birthday_day%></div> 
     
          </div>
          <% } else { %>
          <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
            <div class="font_<%=card.fontName1%>">Chapter</div><div>:</div><div class="font_<%=card.fontName2%>"> Regal Sisters</div>
            <div class="font_<%=card.fontName1%>">Address</div><div>:</div><div class="font_<%=card.fontName2%>"> Colorado, USA</div> 
            <div class="font_<%=card.fontName1%>">Email</div><div>:</div><div class="font_<%=card.fontName2%>"> nancy@royalsplendor.com</div> 
            <div class="font_<%=card.fontName1%>">Phone</div><div>:</div><div class="font_<%=card.fontName2%>"> 388-338-3888</div> 
            <div class="font_<%=card.fontName1%>">Birthday</div><div>:</div><div class="font_<%=card.fontName2%>">November 8th</div> 
            
          </div>
        <% } %>
      </div>
    </div>
  </div>
  
</div>

<!------------------->

<%if(typeof user == 'object' && user){%>
  <p>Having trouble with your account or your order?</p>
    <button id="ticketsButton">request help</button>
    <div id="tickets"><%- include('./partials/tickets',{user:user,card:card})%></div>
    <%if(typeof user =='object' && user.isAdmin){%> <div><h2>go to <a href="/admin">admin</a> panel </h2></div><%}%>

  <h2>Step 4: Approve and Purchase</h2>
  <button custom-type="approve" id="approve">Approve Design</button>
  <!----------->
  <%if(user.isConfirmed=="true"){%>
  <div id="orderForm">
    <h4>**all cards go through a final alignment and approval process by us, before going to print. </h4>
   
    <h2>Next: Select your quantity</h2>
          <%let cardNo = card._id%>
          <div id="cardPackage_<%= cardNo %>" class="cardPackage">
              <div class="radio-option">
                  <label>
                      <input type="radio" name="package" data-desc="100ct" value="34.99">
                      100 for $34.99 | <del>$38.49</del>
                  </label>
              </div>
              <div class="radio-option">
                  <label>
                      <input type="radio" name="package" data-desc="250ct" value="49.99">
                      250 for $49.99 | <del>$54.99</del>
                  </label>
              </div>
              <div class="radio-option">
                  <label>
                      <input type="radio" name="package" data-desc="500ct" value="69.99">
                      500 for $69.99 | <del>$76.99</del>
                  </label>
              </div>
              <div class="radio-option">
                  <label>
                      <input type="radio" name="package" data-desc="1000ct" value="79.99">
                      1000 for $79.99 | <del>$87.99</del>
                  </label>
              </div>
              <%if(user.isAdmin ==true){%>
                <div class="radio-option">
                  <label style="color:rebeccapurple">
                      <input type="radio" name="package" data-desc="1000ct" value="1">
                      1000 for $79.99 |test| <del>$87.99</del>
                  </label>
              </div>
                <%}%>
          </div>

          <button custom-type="approve" id="checkout">Complete Purchase</button>
          <button custom-type="cancel" id="approvalCancel">Cancel Selection</button>
        
        </div>
     <%}else{%>
      <div id="orderForm">
        <h3>please confirm your email before you purchase</h3>
        <form  method="post" action="/requestEmailConf">    
          <input type="text"name="userId"value="<%=user._id%>">
        <button>Confirm Email</button>
      </form>
            <button custom-type="cancel" id="approvalCancel">Cancel Selection</button>
          </div>
            <%}%>
      <%}else{%>
        <h2>Please Sign in to customize your card</h2>
        <p>Registered users can upload their images in place of Nancy's, and add their chapter name and other info. </p>
        <button custom-type="approve"   id="loginViewBuy">Sign in</button>
      </div>
      <%}%>
      
      
      
      
    </div>
    
    
    <div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
    <div id="register"><%- include('./partials/register',{user:user,message:message})%></div>   
  </div>
  
  <div id="ppalSDK">
    <%let baseShipping = config.baseShipping%>
    <%let baseTransaction = config.baseTransaction%>
    <%if(user.isAdmin){%>
      <input id="ppalSDKShipping" type="hidden" name="ppalSDKShipping" value="0" >
      <input id="ppalSDKTransFee" type="hidden" name="ppalSDKTransFee" value="0">

    <%}else{%>
      <input id="ppalSDKShipping" type="hidden" name="ppalSDKShipping" value="<%=baseShipping%>" >
      <input id="ppalSDKTransFee" type="hidden" name="ppalSDKTransFee" value="<%=baseTransaction%>">

      <%}%>
    
    <input id="ppalSDKTotal" type="hidden" name="ppalSDKTotal">
    <h3>Payment Summary:</h3>
    <h4 id="paypalFinalPrice">
      
      
      
    </h4>
    <h2>Pay with any of the four options:</h2>
    <div id="paypal-button-container"></div>
    <button custom-type="cancel" id="paypalCancel">Cancel Purchase</button>
  </div>
    
  <!-- Sample PayPal credentials (client-id) are included -->
  <script>
    <%if(typeof user =='object' && user){%>
    var cardId = "<%= card._id %>"; 
    var userId = "<%=user._id%>"
    <%}%>
    </script>
    <script>      
      const cancelButtons = document.querySelectorAll('[custom-type="cancel"]');
      const warningButtons = document.querySelectorAll('[custom-type="warning"]');
      
      let dynamicDescription = "Default description"; // Initial description

document.addEventListener('DOMContentLoaded', () => {
    const packageOptions = document.querySelectorAll('input[type="radio"][name="package"]');
    
    // Find the checked radio button
    const checkedOption = Array.from(packageOptions).find(option => option.checked);

    // Update dynamicDescription if a radio button is already checked
    if (checkedOption) {
        dynamicDescription = checkedOption.getAttribute('data-desc');
        console.log('Initial description:', dynamicDescription);
    }

    // Add change event listener to all radio buttons
    packageOptions.forEach(option => {
        option.addEventListener('change', function() {
            dynamicDescription = this.getAttribute('data-desc');
            console.log('Description updated:', dynamicDescription);
        });
    });
});



    let purchaseTotal=0;
    let customId = "INV-"+userId+"-"+new Date().getTime()
    //let cardId;     
    const paypalButtonsComponent = paypal.Buttons({
      // optional styling for buttons
      // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
      style: {
        color: "white",
        shape: "rect",
        layout: "vertical"
      },      
      // set up the transaction
      createOrder: (data, actions) => {
        // pass in any options from the v2 orders create call:
        // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
        const createOrderPayload = {
          purchase_units: [
            {
              amount: {
                value: purchaseTotal
              },
              custom_id:customId,
              description:dynamicDescription            
                          }
                        ]
                      };
                      
                      return actions.order.create(createOrderPayload);
                    },                    
                    // finalize the transaction
                    onApprove: (data, actions) => {
                      const captureOrderHandler = (details) => {               
                        //    const payerName = details.payer.name.given_name;
                        const confirmationId = details.id; 
// Payer's Full Name
const payerName = `${details.payer.name.given_name} ${details.payer.name.surname}`;
// Shipping Address
const shippingAddress = details.purchase_units[0].shipping.address;
console.log(`user:${userId} card:${cardId} trans:${confirmationId}`)
                        console.log(`Transaction completed: ${payerName}, ${JSON.stringify(shippingAddress)}`);
            window.location.href=`/viewBuy/checkout-awaiting/?userId=${userId}&cardId=${cardId}&customId=${customId}`};                      
                        return actions.order.capture().then(captureOrderHandler);
                      },                      
                      // handle unrecoverable errors
                      onError: (err) => {
                        console.error('An error prevented the buyer from checking out with PayPal');
                      }
                    });                    
                    paypalButtonsComponent
                    .render("#paypal-button-container")
                    .catch((err) => {
                      console.error('PayPal Buttons failed to render');
                    });
                    </script>
<!--SOME NAV BUTTONS-->
<div><form action="/"method="get"><button custom-type="approve"  type="submit">Browse More</button></form></div>
<div><form action="/logout"method="get"><button custom-type="cancel"  type="submit">Logout</button></form></div>

<div class="filler"></div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const orderForm = document.getElementById('orderForm');
    const approve = document.getElementById('approve');
    const approvalCancel = document.getElementById('approvalCancel');
    const approvalGrp = [approve, approvalCancel];
    
    const handleAnimationEnd = () => {
      if (orderForm.classList.contains('crunch')) {
        orderForm.style.display = 'none';
      }
      orderForm.classList.remove('crunch', 'expand');
    };

    const completeTotal = ()=>{
      const paypalFinalPrice = document.getElementById('paypalFinalPrice')
      const ppalSDKShipping= document.getElementById('ppalSDKShipping');
      const ppalSDKTransFee= document.getElementById('ppalSDKTransFee');
      const ppallSDKTotal = document.getElementById('ppalSDKTotal')
      const ppalUserId = document.getElementById('ppalUserId')
      var selectedRadio = document.querySelector('input[type="radio"]:checked');
      const baseShipping = parseFloat(ppalSDKShipping.value);
      const baseTransaction = parseFloat(ppalSDKTransFee.value);
      const itemTotal = parseFloat(selectedRadio.value);
      const totalTransaction = baseShipping + baseTransaction + itemTotal;
      console.log(`totals for, baseShipping: ${baseShipping}, baseTransaction: ${baseTransaction}, itemTotal: ${itemTotal} final: ${totalTransaction}`)
      paypalFinalPrice.innerHTML=`<table><thead><th>Item Total</th><th>Shipping</th><th>Transaction Fee</th></thead><tbody><tr><td>$${itemTotal}</td><td>$${baseShipping}.00</td><td>$${baseTransaction}.00</td></tr><tr><td></td><td>Total:</td><td><str>$${totalTransaction}</str></td></tr></tbody></table>`;
      paypalFinalPrice.classList.add('paymentDiv')
      ppalSDKTotal.value=totalTransaction;
      purchaseTotal=totalTransaction;
      package=selectedRadio.textContent;
      userId = ppalUserId.value;
    
    }



    approvalGrp.forEach(button => {
      button.addEventListener('click', function() {
        if (orderForm.style.display === "block") {
          orderForm.classList.add('crunch');
          approve.style.display = "block";
          approve.classList.add('expand');
          approve.style.marginLeft = "8%";
          approvalCancel.style.display = "none";
        } else {
          orderForm.style.display = "block";
          orderForm.classList.add('expand');
          approve.style.display = "none";
          approvalCancel.style.display = "block";
          approvalCancel.style.marginLeft = "8%";
        }
      });
    });
    orderForm.addEventListener('animationend', handleAnimationEnd);
    
    
    
    
    const ppalDiv = document.getElementById('ppalSDK');
    const checkoutFinal= document.getElementById('checkout');
    const paypalCancel= document.getElementById('paypalCancel');
    const checkoutGrp = [checkoutFinal,paypalCancel]
    checkoutGrp.forEach(button => {
      button.addEventListener('click',function(){
        if(ppalDiv.style.display=='block'){
          ppalDiv.style.display='none';
          ppalDiv.classList.add('crunch');
          paypalCancel.style.display="none"
          orderForm.style.display = "block";
          orderForm.classList.add('expand');
          approve.style.display = "none";
          approvalCancel.style.display = "block";
          approvalCancel.style.marginLeft = "8%";
          
        }else{
          completeTotal()
          ppalDiv.style.display='block';
          orderForm.style.display='none';
          ppalDiv.classList.add('expand');
          paypalCancel.style.marginLeft = "8%";
          paypalCancel.style.display="block"
        }
        orderForm.classList.add('expand');
        console.log('hey....check me out!!')
      })
    })
  })
  ppalDiv.addEventListener('animationend', handleAnimationEnd);
  
</script>
<div id="footer"><%- include('./partials/footer')%></div>  
<script src="/javascripts/loader.js"></script>
</body>
