<!DOCTYPE html>

<head> 
  <link rel="stylesheet" href="/stylesheets/style.css">
    <title>view and buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  </head>
  <body>      
    
    <div id="main">
 
     <div id="header">
      <div id="headerContainer">
        <img class="header"src="/images/banner_cell.jpg" alt="">
      </div>
      </div>


<div class="card">
  <div class="cardFrontFrame">
    <div class="cardImg">
      <img class="" src="<%= card.cardFront %>" alt="Card Front">
      <%if(typeof user =="object" && user.userImg){%>

        <div id="headshot_<%= card._id %>" class="headshot">
          
               <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="<%=user.userImg%>.jpg" alt="Headshot">
             </div>
        <%}else{%>
          <div id="headshot_<%= card._id %>" class="headshot">
            
                 <img style="position:absolute; transform: translateY(<%= card.imgPositionY %>px) translateX(<%= card.imgPositionX %>px) scale(<%= card.imgScale %>);" class="headshot" src="/images/sampleFace.jpg" alt="Headshot">
               </div>
       <%}%>
    </div>
  </div>
  <div class="cardBackFrame">
    <div class="cardImg">
      <img class="" src="<%= card.cardBack %>" alt="Card Back">
      <div style="position:absolute; transform: translateY(<%= card.text0PositionY %>px) translateX(<%= card.text0PositionX %>px);" class="textBox" id="textBox_<%= card._id %>">
        <% if (typeof user && user) { %>
          <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
            <div class="font_<%=card.fontName1%>">Chapter:</div><div class="font_<%=card.fontName2%>"><%=user.chapter%></div>
            <div class="font_<%=card.fontName1%>">Address:</div><div class="font_<%=card.fontName2%>"><%=user.address%></div> 
            <div class="font_<%=card.fontName1%>">Email:</div><div class="font_<%=card.fontName2%>"><%=user.email%></div> 
            <div class="font_<%=card.fontName1%>">Phone :</div><div class="font_<%=card.fontName2%>"><%=user.phone%></div> 
            <div class="font_<%=card.fontName1%>">Birthday:</div><div class="font_<%=card.fontName2%>"><%=user.birthday%></div> 
     
          </div>
        <% } else { %>
          <div id="textTitles_<%= card._id %>" style="font-size:<%= card.font0Size %>px; color:<%=card.textColor%>" class="textTitles">
            <div class="font_<%=card.fontName1%>">Chapter: </div><div class="font_<%=card.fontName2%>">Greeley RHS </div>
            <div class="font_<%=card.fontName1%>"> Address : </div>   <div class="font_<%=card.fontName2%>">Colorado, USA</div> 
            <div class="font_<%=card.fontName1%>"> Email : </div>  <div class="font_<%=card.fontName2%>">scott@w2marketing.biz</div> 
            <div class="font_<%=card.fontName1%>"> Phone : </div>   <div class="font_<%=card.fontName2%>">333-456-7890</div> 
            <div class="font_<%=card.fontName1%>"> Birthdate :</div>    <div class="font_<%=card.fontName2%>">Januaray 1, 2001</div> 
          
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <!--i need to make a viewer-->
  <%let cardNo = card._id%>
  <select name="package" id="cardPackage_<%= cardNo %>">
    <option value="100|38.49|34.99">100 for $34.99 (original $38.49)</option>
    <option value="250|54.99|49.99">250 for $49.99 (original $54.99)</option>
    <option value="500|76.99|69.99">500 for $69.99 (original $76.99)</option>
    <option value="1000|87.99|79.99">1000 for $79.99 (original $87.99)</option>
</select>
<div><button onclick="addToCart('<%= cardNo %>', '<%= cardNo %>')">Add to Cart</button></div>

 
  <div><form action="/"method="get"><button type="submit">Browse More</button></form></div>
 <button id="vbCartButton">view cart</button>
</div>

<div id="filler"></div>  

</div>
<div id="menu"><%- include('./partials/menu',{user:user,message:message})%></div>      
<div id="cart">  <%- include('./partials/cart',{user:user,message:message})%></div>
<div id="login"><%- include('./partials/login',{user:user,message:message})%></div>   
</div>
</body>

    <script src="/javascripts/loader.js"></script>